// Fonts
$font-heading: 'Source Sans Pro Bold';
$font-thin: 'Source Sans Pro Thin';
$font-normal: 'Open Sans';
$font-light: 'Open Sans Light';
// Add font sizes section
// Colors
$color-primary: #DC143C;
$color-secondary: #2F323A;
$color-accent: #F4FEC1;
$color-jetblack: #0a0a0a;
$color-gray: gray;
$color-burlywood: burlywood;
$color-lavenderblush: lavenderblush;
$color-brown-light: rgba(165, 42, 42, 0.151);
$color-jonquil: #FAD02C;
$color-charcoal: #495159;
$color-text: #2f3846;
$color-faint: rgba(10, 10, 10, 0.796);
$color-heading: #061b41;
$color-text-fade: #798aa5;
$color-crimson: crimson;