.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.display {
    display: block;
}

.hide {
    display: none !important;
    visibility: hidden !important;
}

.message {
    padding: 1em;
    background-color: blanchedalmond;
    border: solid 1px lavender;
    border-radius: 10px;
}