@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../fonts/SourceSansPro-SemiBold.ttf');
}

@font-face {
    font-family: 'Source Sans Pro Thin';
    src: url('../fonts/SourceSansPro-ExtraLight.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf');
}